<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 카메라 권한 추가 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <!-- 카메라 필수 여부 설정 -->
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_shield"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">

        <!-- 스플래시 화면 -->
        <activity
            android:name="com.example.myapplication.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 메인 액티비티 -->
        <activity
            android:name="com.example.myapplication.MainActivity"
            android:exported="true" />

        <!-- 앱 최초 실행시 큐싱 설명 -->
        <activity android:name=".QushingIntroActivity" />
        <activity android:name=".AdditionalInfoActivity" />


        <!-- QR 스캔용 커스텀 CaptureActivity -->

        <activity
            android:name="com.example.myapplication.CustomCaptureActivity"
            android:exported="true"
            tools:node="replace"
            android:screenOrientation="sensorPortrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />


    </application>
</manifest>
